.hours-section {
    background-color: #ffdd57; /* Tropical green */
    border-radius: 10px;
    width: 250px;
    padding: 1.5rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    color: #381116; /* White text */
  }
  
  .hours-section h3 {
    color: #381116;
  }
  
  .hours-section img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .hours-section p {
    color: #381116;
  }
  